@inherits LayoutComponentBase

<div class="ebay-layout">
    <GlobalHeader />

    <div class="ebay-body-wrapper">
        <Sidebar />

        <main class="ebay-main-content">
            @Body
        </main>
    </div>
</div>
